.mainpageleft {
  gap: 3vh;
  font-size: 1.1rem;
  padding-right: 1.5rem;
  position: relative;
}

.header {
  font-size: 2rem;
  padding-top: 1rem;
}

.mainpageleft div:nth-child(1),
.mainpageleft div:nth-child(3) {
  flex: 1;
}

.maincontentwrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 25%;
  height: 100vh;
}
