.mainpageleft {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  font-size: 1.1rem;
  padding-right: 1.5rem;
  position: relative;
  height: 100vh;
}

.header {
  font-size: 2rem;
  padding-top: 1rem;
}

.mainpageleft div:nth-child(1),
.mainpageleft div:nth-child(3) {
  flex: 1;
}
