.mainpageright {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.mainpageright nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 0 0 5px 5px;
  background-color: #a27b5c;
}

.projectlistContainer {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  position: relative;
  margin: 0;
  padding: 0;
  /*   for firefox */
  scrollbar-color: #a27b5c #2c3639;
  scrollbar-width: thin;
  height: 93vh;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c3639;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a27b5c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #72370b;
}

.test {
  height: 1000px;
}

.projectlist li img {
  width: 100%;
}

.projectlist {
  padding: 0;
  list-style: none;
  border-left: 1px solid #3f4e4f;
  border-right: 1px solid #3f4e4f;
}

.project {
  margin-top: 3rem;
}

.projectdescription {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.476);
  left: 20%;
  margin-top: -150px;
  font-size: 1.2rem;
}
