.App {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #a27b5c;
}
